<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="15">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Assignment 3</title>
    <style>
        .container {
            margin-top:6rem;
            max-width:70%;
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
<div class="container mx-auto px-20">
    <div class="flex flex-col w-full" style="cursor: auto;">
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 my-2 w-full">
            <div class="metric-card bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg p-4 max-w-72 w-full" style="cursor: auto;">
                    <div class="flex items-center text-gray-900 dark:text-gray-100" style="cursor: auto;">Water
                    </div>
                <p class="mt-2 text-3xl font-bold spacing-sm text-black dark:text-white" style="cursor: auto;">{{.Water}} meter</p>
                <p class="mt-2 text-1xl font-bold spacing-sm text-black dark:text-white" style="cursor: auto;">Status: {{.WaterStatus}}</p>
            </div>
            <div class="metric-card bg-white dark:bg-gray-900 border border-gray-200 dark:border-gray-800 rounded-lg p-4 max-w-72 w-full" style="cursor: auto;">
                    <div class="flex items-center text-gray-900 dark:text-gray-100" style="cursor: auto;">Wind
                    </div>
                <p class="mt-2 text-3xl font-bold spacing-sm text-black dark:text-white" style="cursor: auto;">{{.Wind}} meter/sec</p>
                <p class="mt-2 text-1xl font-bold spacing-sm text-black dark:text-white" style="cursor: auto;">Status: {{.WindStatus}}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>